In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CleanedSheet.csv')
df.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,BURGLARY,THEFT,RIOTS,CHEATING,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,OTHER IPC CRIMES,TOTAL IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,50,46,198,199,78,104,1131,16,149,34,175,1518,4154
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,23,53,191,366,168,65,1543,7,118,24,154,754,4125
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,27,59,237,723,156,209,2088,14,112,83,186,1262,5818
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,20,25,98,173,164,37,795,17,126,38,57,1181,3140
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,23,49,437,1021,70,220,1244,12,109,58,247,2313,6507

In [3]:
df.drop(['TOTAL IPC CRIMES'], axis=1, inplace=True)
df.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,BURGLARY,THEFT,RIOTS,CHEATING,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,OTHER IPC CRIMES
0,ANDHRA PRADESH,ADILABAD,2001,101,60,50,46,198,199,78,104,1131,16,149,34,175,1518
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,23,53,191,366,168,65,1543,7,118,24,154,754
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,27,59,237,723,156,209,2088,14,112,83,186,1262
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,20,25,98,173,164,37,795,17,126,38,57,1181
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,23,49,437,1021,70,220,1244,12,109,58,247,2313

In [4]:
def location_name(dist, state):
    return "{dist}, {state}".format(dist=dist, state=state)

In [5]:
dist = df['DISTRICT']
state = df['STATE/UT']
size = len(state)

In [8]:
loc = []
loc_id = []
for i in range(size):
    name = location_name(dist[i], state[i])
    loc.append(name)
    loc_id.append(i+1)

In [18]:
assert len(loc) == df.shape[0]
assert "CHHINDWARA, MADHYA PRADESH" in loc
assert "LUCKNOW, Uttar Pradesh" in loc
assert "SURENDRANAGAR, GUJARAT" in loc

In [14]:
df['id'] = loc_id
df['location'] = loc
df.head()

,STATE/UT,DISTRICT,YEAR,MURDER,ATTEMPT TO MURDER,RAPE,KIDNAPPING & ABDUCTION,BURGLARY,THEFT,RIOTS,CHEATING,HURT/GREVIOUS HURT,DOWRY DEATHS,ASSAULT ON WOMEN WITH INTENT TO OUTRAGE HER MODESTY,INSULT TO MODESTY OF WOMEN,CRUELTY BY HUSBAND OR HIS RELATIVES,OTHER IPC CRIMES,id,location
0,ANDHRA PRADESH,ADILABAD,2001,101,60,50,46,198,199,78,104,1131,16,149,34,175,1518,1,"ADILABAD, ANDHRA PRADESH"
1,ANDHRA PRADESH,ANANTAPUR,2001,151,125,23,53,191,366,168,65,1543,7,118,24,154,754,2,"ANANTAPUR, ANDHRA PRADESH"
2,ANDHRA PRADESH,CHITTOOR,2001,101,57,27,59,237,723,156,209,2088,14,112,83,186,1262,3,"CHITTOOR, ANDHRA PRADESH"
3,ANDHRA PRADESH,CUDDAPAH,2001,80,53,20,25,98,173,164,37,795,17,126,38,57,1181,4,"CUDDAPAH, ANDHRA PRADESH"
4,ANDHRA PRADESH,EAST GODAVARI,2001,82,67,23,49,437,1021,70,220,1244,12,109,58,247,2313,5,"EAST GODAVARI, ANDHRA PRADESH"

In [15]:
df.to_csv("CleanedSheet.csv", index=False)